*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*.zip
*.bst
*.cls
*.cfg
README_copernicus_package_3_6.txt
natbib.sty
pdfscreen.sty
natbib.sty
pdfscreen.sty
pdfscreencop.sty
